header {
  clear: both; 
  margin-top: 0;
  height: 100px;
  border: solid black 1px; 
  padding-bottom: 50px; 
}

header h1 {
  text-align: left;
}

header p {
  text-align: justify; 
}

.column-1 {
  float: left;
  display: block;
  width: 46%;
  margin-left: 2%;
  margin-bottom: 120px; 
}

.column-2 {
  float: right;
  display: block;
  width: 46%;
  margin-right: 2%;
  margin-bottom: 120px; 
}

footer { 
  clear: both; 
  margin-bottom: 0;
  height: 100px;
  border: solid black 1px; 
  text-align: center;
  padding-top: 50px; 
}