/*Adjustment for width discrepancy */
html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
	color: #000080;
	background-color: white;
	margin-top: 0px;
} 

header{
	border-style: groove;
	border-width: 0px 0px 2px 0px;
	width: 100%;
}

h4{
	margin-top: 2px;
}

.header-wrapper {
	text-align: center;
	display: block;
	width: 300px;
	height: 100px;
	padding-left: 40%;
	padding-right: 40%;
}

a:link {
	color: #800080;
}

a:visited {
	color: red;
}

.address {
	width: 150px;
	padding-left: 80px;
	font-size: smaller;
}
.resources-left{
	float:left;
	width: 550px;
	line-height: 2.5em;
	margin-left: 50px;
	margin-top: -5px;

}
.resources-right{
	float: left;
	width: 500px;
	line-height: 2.5em;
	margin-top: -5px;
}

.border-style{
	position: relative;
	clear: both;
	border-style: groove;
	border-width: 2px 0px 2px 0px;
}


.geico {
	text-align: center;
	display: block;
	width: 60%;
	padding-right: 20%;
	padding-left: 20%;
/*  margin: 0px 100px 5px 100px;   */  
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 60%
}

.geico p {
	margin: 0px;
}

.contact-info {
	border-bottom-style: groove;
	border-width: 2px;
	font-size: 80%;
}

ul ul li {
	font-size: 70%;
	list-style: none;
	margin-left: 0;
	margin-top: -20px;
	padding-top: 0;
	text-indent: -40px
}

.title-case {
	font-size: 230%
}

.geico-img{
	margin: 0px 362.5px 0px 362.5px;
}

footer {
	font-size: 70%;
}

.footer-bold{
	font-weight:bold;
}

/*
1. What is important to know when linking an external file (like a
stylesheet) to an HTML file? 
	It's important to add into the <head> of your HTML file the <link rel="stylesheet" href=""> 
	And within the href you will as in the path to where your CSS is saved. 

2. What tricks did you use to help you with positioning? How hard was it to get the site as you wanted it? 
	I used Chrome Dev Tools a lot when it came to getting my sizing of my elements. 

3. What CSS did you use to modify the element style (like size, color, etc.)
	font-size, a lot of margins and padding. I used a mixture of pixels and percentages to help give the page shape. 
	The Berkshire site was kind of scalable, which wasn't reflecting as well in my page, so I had to use some percentages to resize
	the page, and pixels in areas that must remain static. 

4. Did you modify the HTML to include classes or ids? If so, which did you choose and why? If you didn't, how would you know which one to add
to your HTML? 
	I used exclusively classes for modifying the HTML as well as simply calling upon the element's name in CSS. 

5. When you compared your site to the actual code base, which do you think had cleaner code that followed best practices and
why?
	I think mine uses a lot of updated and currently approved practices for creating websites in 2016. The original website's code certainly
	contains less bulk, but it uses no CSS, only HTML to structure and style the page. This is not something that many recommend in today's use of HTML and CSS. 
*/
